@using ClassroomHub.Web.ViewModels.ActivityViewModels
@model ActivityDeltailsViewModel

<form method="post" asp-action="DeliveryActivity">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">@Model.Title</h5>
        </div>
        <div class="card-body form-group">
            @Html.TextBoxFor(x => x.ActivityId, new{type="hidden", value=@Model.ActivityId, @readonly=true})
            @Html.TextBoxFor(x => x.StudentId, new{type="hidden", value=@Model.StudentId, @readonly=true})
            @Html.DisplayNameFor(x => x.Description)
            @Html.TextAreaFor(x => x.Description, new{ @class="form-control" , @readonly=true})
            <div class="row mt-2">
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.DueDate)
                    @Html.TextBoxFor(x => x.DueDate, new {@class="form-control", @readonly=true})
                </div>
                <div class="col-6">
                    @Html.DisplayNameFor(x => x.Grade)
                    @Html.TextBoxFor(x => x.Grade, new {@class="form-control", @readonly=true})
                </div>
            </div>
            @Html.DisplayNameFor(x => x.Resolution)
            @Html.TextAreaFor(x => x.Resolution, new {@class="form-control"})
        </div>
        <div class="card-footer">
            <a type="button" asp-action="StudentArea" asp-route-studentId="@Model.StudentId" class="btn btn-secondary">Voltar</a>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>
</form>