@using ClassroomHub.Web.ViewModels.ActivityViewModels
@model IEnumerable<StudentAreaViewModel>


<div id="accordion">
    @for (int i = 0; i < Model.Count(); i++)
    {
        var module = Model.ToList()[i];
        var idHeader = "heading" + i;
        var idCollapse = "colapse" + i;
        <div class="card">
            <div class="card-header" id="@idHeader">
                @{
                    var target = "#" + idCollapse;
                }
                <h5>
                    <button class="btn btn-link" data-toggle="collapse" data-target="@target" aria-expanded="false" aria-controls="@idCollapse">
                        @module.ModuleName
                    </button>
                </h5>
            </div>
            <div id="@idCollapse" class="collapse show" aria-labelledby="@idHeader" data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <thead>
                            @{
                                var activityHeader = module.Activities.FirstOrDefault();
                            }
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(x => activityHeader.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => activityHeader.ActivityScore)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(x => activityHeader.DueDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var activity in Model.ToList()[i].Activities)
                            {
                                {
                                    var details = new ActivityDeltailsViewModel();
                                    details.StudentId = module.StudentId;
                                    details.ActivityId = activity.Id;
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(x => activity.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => activity.ActivityScore)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => activity.DueDate)
                                    </td>
                                    <td>
                                        <a type="button"  asp-action="Details" asp-controller="Activity" asp-route-value="details"><i class="fa fa-regular fa-clipboard"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>