@using System.Collections.Generic
@using ClassroomHub.Web.ViewModels
@model IEnumerable<ClassViewModel> 


<h1>Turmas</h1>

<partial name="_create" model="new ClassViewModel()"><partial/>
<partial name="_searchClasses"></partial>

@if(!Model.Any()){
    <div class="text-center">
        <span>Não há turmas cadastradas</span>
    </div>
}else
{
    <table class="table table-hover table-striped text-center">
        <thead>
            <tr class="success">
                <th>
                    @Html.DisplayNameFor(x => x.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(x => x.End)
                </th>
                <th></th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var @class in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor( x => @class.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(x => @class.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(x => @class.End)
                    </td>
                    <td>
                        <a><i class="fa fa-edit" style="font-size:x-large"></i></a>
                        <a><i class="fa fa-trash" style="font-size:x-large"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>    
}

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}