@model ClassroomHub.Web.ViewModels.ModuleViewModel;

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Módulo @Html.DisplayNameFor(x => x.Name)</h3>
    </div>
    <div class="panel-body">
        @Html.DisplayNameFor(x => x.Description)
        @Html.DisplayFor(x => x.Description, new {@class="form-control"})
        @Html.DisplayNameFor(x => x.TeacherName)
        @Html.DisplayFor(x => x.TeacherName, new {@class="form-control"})
        <div class="row">
            <div class="col-6">
                @Html.DisplayNameFor(x => x.Start)
                @Html.DisplayFor(x => x.Start)
            </div>
            <div class="col-6">
                @Html.DisplayNameFor(x => x.End)
                @Html.DisplayFor(x => x.End)
            </div>
        </div>
    </div>
</div>